## Install pymunk and pygame libraries

In [1]:
!pip3 install pygame

Requirement already satisfied: pygame in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (1.9.4)

In [2]:
!pip3 install pymunk

Requirement already satisfied: pymunk in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (5.4.2)
Requirement already satisfied: cffi in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from pymunk) (1.12.2)
Requirement already satisfied: pycparser in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from cffi->pymunk) (2.19)

In [4]:
"""
Template code for Assignment 7
(Based on modification of the pyramid demo from the box2d testbed in pymunk)
"""

import random
import time
import pygame
import numpy
from pygame.locals import *
from pygame.color import *
import pymunk
from pymunk import Vec2d
import pymunk.pygame_util

pygame 1.9.4
Hello from the pygame community. https://www.pygame.org/contribute.html
Loading chipmunk for Darwin (64bit) [/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pymunk/libchipmunk.dylib]

In [6]:
# Some general variables -- you don't need to change any of these
N_BLOCKS = 6 # How many blocks will fall?
BLOCK_SIZE = 20 # How big are the blocks?
deltaY     = 35 # How far spaced out vertically are they?
xSD        = 30.0 # What is the SD for their x-locations?
FPS = 30. # how many frames per second do we run?
BLOCK_MASS = 1.0
BLOCK_FRICTION = 1.0
FLOOR = 100
RUN_TIME = 10.0 # Time in seconds that we will run a simulation for
STEPS_PER_FRAME = 5.0 # Do not change this
WIDTH = 600 # Screen dimensions -- don't change
HEIGHT = 600

### You could change the FPS to maybe 150 and RUN_TIME to 2 to speed up the experiment.

In [9]:
class BlockTower:
    # Implement a class to show/simulate blocks falling via pymunk
    # Note: this code has been modified from the pymunk pyramid demo

    def __init__(self, positions):
        # The intializer takes a list of x-positions for blocks; their height is set
        # by the code here.
        assert(len(positions)==N_BLOCKS) # can't give more than N_BLOCKS since we need to draw them

        self.positions = positions # store the positions of our blocks

        # Set up some pygame stuff
        self.running = True
        self.physics_running = False
        self.start_time = 0
        self.drawing = True
        self.w, self.h = WIDTH,HEIGHT
        self.screen = pygame.display.set_mode((self.w, self.h))
        self.clock = pygame.time.Clock()

        ### Init pymunk and create space
        self.space = pymunk.Space()
        self.space.gravity = (0.0, -900.0)
        self.space.sleep_time_threshold = 0.3

        self.floor = pymunk.Segment(self.space.static_body, (0, FLOOR), (self.w,FLOOR), 1.0)
        self.floor.friction = 1.0
        self.space.add(self.floor)

        # Draw each block and add it to the physics
        for i in range(N_BLOCKS):
            points = [(-BLOCK_SIZE, -BLOCK_SIZE), (-BLOCK_SIZE, BLOCK_SIZE), (BLOCK_SIZE,BLOCK_SIZE), (BLOCK_SIZE, -BLOCK_SIZE)]
            moment = pymunk.moment_for_poly(BLOCK_MASS, points, (0,0))
            body = pymunk.Body(BLOCK_MASS, moment)
            xpos = self.positions[i]
            ypos = FLOOR + (2*i+1) * deltaY
            body.position = Vec2d(xpos,ypos)
            shape = pymunk.Poly(body, points)
            if(i == N_BLOCKS-1):     # color the top
                shape.color = (1,0,0,1)
                self.target_block = shape # store the top one we are tracking
            shape.friction = 1
            self.space.add(body,shape)

        ### draw options for drawing
        self.draw_options = pymunk.pygame_util.DrawOptions(self.screen)

    def is_black_block_on_floor(self):
        # Returns true or false depending on whether the black block is on the bottom
        col = self.target_block.shapes_collide(self.floor) # this resturns a ContactPointSet
        return len(col.points) > 0

    def run_person(self):
        # Show a window where people can predict yes/no (y/n) for whether the black block hits the bottom.
        # After they respond, they can observe the physics.
        # Rteturns their prediction and whether the black block actually hit the floor

        prediction = None # what people predicted?

        # Call this to run a single simulation with the given positions
        while self.running and (time.time() - self.start_time) < RUN_TIME or self.start_time==0:
            for event in pygame.event.get():
                if event.type == QUIT:
                    self.running = False
                elif event.type == KEYDOWN and event.key == K_ESCAPE:
                    self.running = False
                elif event.type == KEYDOWN and (event.key == K_y or event.key==K_n):  ## This detects a space press and starts simulating
                    prediction = (event.key == K_y)
                    self.physics_running = True
                    self.start_time = time.time()  # remember the time that physics started running

            if self.physics_running:
                self.space.step(1.0 / FPS / STEPS_PER_FRAME)  ## conveera frames per second to internal clock tics -- don't change!

            if self.drawing:
                self.draw()

            self.clock.tick(FPS) # don't let this loop run faster than FPS
        return (prediction, self.is_black_block_on_floor())

    def simulate(self):
        # Just run a simulation, returning whether after 10s the black block hits the floor
        for s in range(int(FPS*5*RUN_TIME)): # run for 10s
            self.space.step(1.0 / FPS / STEPS_PER_FRAME) # run this many steps
        return self.is_black_block_on_floor()

    def draw(self):
        ### This gets called to draw the scene

        ### Clear the screen
        self.screen.fill(THECOLORS["white"])

        ### Draw space  with our given options
        self.space.debug_draw(self.draw_options)

        ### All done, lets flip the display, which will cause it to be displayed
        pygame.display.flip()

In [58]:
########################################################################################################################
### Main code below
########################################################################################################################

for i in range(2):
    # make some blocks at WIDTH/2 with a given SD
    positions = [numpy.random.normal(WIDTH/2, xSD) for _ in range(N_BLOCKS)]

    #demo = BlockTower(positions)
    #print(demo.simulate())

    # Create a second one to show the blocks falling and get responses
    # (note: we CANNOT run demo.run_person because that one has alread run -- we have to make a new BlockTower object)
    demo2 = BlockTower(positions)
    result = demo2.run_person()
    
    pygame.quit()

### Writing the CSV file for Question 1

In [ ]:

# Opening the file in write mode; test_df2.csv is the file we are creating
with open('predictions.csv', mode='w') as csv_file: 
    
    fieldnames = ['Position1', 'Position2', 'Position3', 'Position4', 'Position5', 'Position6',\
                  'Prediction', 'Result']
    writer = csv.DictWriter(csv_file, fieldnames=fieldnames)
    
    for i in range(2): #Number of trials
        positions = [numpy.random.normal(WIDTH/2, xSD) for _ in range(N_BLOCKS)]
        demo2 = BlockTower(positions)
        result = demo2.run_person()
        writer.writeheader()
        writer.writerow({'Position1': ?, 'Position2': ?, ..., \
                         'Prediction': ?, 'Result': ?}) # Have left at ? intentionally
    
    pygame.quit()

## Hints:

* You might want to look at the method run_person() to understand what the two outputs mean.
* Please go through the whole notebook to know more about reading/writing to CSVs
* I would recommend using the csv module for writing to a csv, and pandas to read the csv (more details below)
* I would recommend writing each individual position separately (like the code block above) because it makes it easy to read the individual positions as integer later

### Note: If your pygame window doesn't close, you might have to shutdown your kernel and start it again. However, you don't need to neccessarily close it each time - your jupyter notebook would still keep running normally, and you would still be able to run more trials. So you can run your whole code without shutting down your kernel.

## Reading and Writing files to CSV

There are two ways of reading/writing files to a CSV. I prefer using pandas because it's more user-friendly and readable. However, option 2 (csv module) is more useful if you want to write to a csv file ROW BY ROW (You might want to do it if you feel your kernel could hang in the middle of the simulations).

### Option 1: Read them as dataframes using the module pandas

* <b> Reading from a csv </b>

In [13]:
import pandas as pd

In [14]:
data = pd.read_csv("test.csv")

In [15]:
# Viewing a snapshot of the data
data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [16]:
data.shape # 418 rows excluding the header, 11 columns

(418, 11)

In [17]:
# Viewing specific rows
data[0:3]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [24]:
# Viewing 1 row
data.iloc[[0]]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q

In [5]:
# Viewing 1 column
data['PassengerId'].head(10)

0    892
1    893
2    894
3    895
4    896
5    897
6    898
7    899
8    900
9    901
Name: PassengerId, dtype: int64

In [31]:
# Viewing specific cell
data.iloc[0, 2]

'Kelly, Mr. James'

In [34]:
# Viewing specific columns for 1 row
data.iloc[0, 3:6]

Sex      male
Age      34.5
SibSp       0
Name: 0, dtype: object

In [35]:
# Viewing multiple columns; notice the double brackets
data[['PassengerId', 'Name']].head()

   PassengerId                                          Name
0          892                              Kelly, Mr. James
1          893              Wilkes, Mrs. James (Ellen Needs)
2          894                     Myles, Mr. Thomas Francis
3          895                              Wirz, Mr. Albert
4          896  Hirvonen, Mrs. Alexander (Helga E Lindqvist)

* <b> Creating a new dataframe and writing to a csv </b>

There are several ways to do it. Choose whichever suits the way you are writing your code.

In [36]:
# Option 1: Creating a dataframe from list of COLUMN data

# This is just some fake data; say you run 4 trials of the experiment and have 4 data points to store
pos = [0.2, 0.5, 2.7, 1.4]
pred = [1, 0, 1, 1]
res = ['Yes', 'Yes', 'No', 'Yes'] # or you could keep it as [1, 1, 0]

df = pd.DataFrame(data={'Position': pos, 'Prediction': pred, 'Result': res})
df

   Position  Prediction Result
0       0.2           1    Yes
1       0.5           0    Yes
2       2.7           1     No
3       1.4           1    Yes

In [37]:
# Option 2: Creating a dataframe from list of ROW data; could be integrated with a for loop

# Each row has 3 values - 1 for position, 1 for prediction, 1 for result
row_1 = [0.2, 1, 'Yes']
row_2 = [0.5, 0, 'Yes']
row_3 = [2.7, 1, 'No']
row_4 = [1.4, 1, 'Yes']

df = pd.DataFrame(data=[row_1, row_2, row_3, row_4], columns=['Position', 'Prediction', 'Result'])
df

   Position  Prediction Result
0       0.2           1    Yes
1       0.5           0    Yes
2       2.7           1     No
3       1.4           1    Yes

In [38]:
df.to_csv("test_df.csv", index=False)

### Option 2: Using Python's csv module

Reference: https://realpython.com/python-csv/



Generally, the structure of a CSV file looks like the following:

column 1 name,column 2 name, column 3 name<br>
first row data 1,first row data 2,first row data 3<br>
second row data 1,second row data 2,second row data 3<br>
...

In [39]:
import csv

In [40]:
with open('test.csv') as f:
    reader = csv.reader(f, delimiter=',')
    for row in reader:
        print (row[0]) # Prints all rows of  first column

PassengerId
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309

In [41]:
with open('test.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        else:
            print(f'\t {row[2]}, with ID {row[0]}, had a ticket of class {row[1]}.')
            line_count += 1
    print(f'Processed {line_count} lines.')

Column names are PassengerId, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked
	 Kelly, Mr. James, with ID 892, had a ticket of class 3.
	 Wilkes, Mrs. James (Ellen Needs), with ID 893, had a ticket of class 3.
	 Myles, Mr. Thomas Francis, with ID 894, had a ticket of class 2.
	 Wirz, Mr. Albert, with ID 895, had a ticket of class 3.
	 Hirvonen, Mrs. Alexander (Helga E Lindqvist), with ID 896, had a ticket of class 3.
	 Svensson, Mr. Johan Cervin, with ID 897, had a ticket of class 3.
	 Connolly, Miss. Kate, with ID 898, had a ticket of class 3.
	 Caldwell, Mr. Albert Francis, with ID 899, had a ticket of class 2.
	 Abrahim, Mrs. Joseph (Sophie Halaut Easu), with ID 900, had a ticket of class 3.
	 Davies, Mr. John Samuel, with ID 901, had a ticket of class 3.
	 Ilieff, Mr. Ylio, with ID 902, had a ticket of class 3.
	 Jones, Mr. Charles Cresson, with ID 903, had a ticket of class 1.
	 Snyder, Mrs. John Pillsbury (Nelle Stevenson), with ID 904, had a ticket of class 1.
	 Howard, Mr. Benjamin, with ID 905, had a ticket of class 2.
	 Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood), with ID 906, had a ticket of class 1.
	 del Carlo, Mrs. Sebastiano (Argenia Genovesi), with ID 907, had a ticket of class 2.
	 Keane, Mr. Daniel, with ID 908, had a ticket of class 2.
	 Assaf, Mr. Gerios, with ID 909, had a ticket of class 3.
	 Ilmakangas, Miss. Ida Livija, with ID 910, had a ticket of class 3.
	 Assaf Khalil, Mrs. Mariana (Miriam")", with ID 911, had a ticket of class 3.
	 Rothschild, Mr. Martin, with ID 912, had a ticket of class 1.
	 Olsen, Master. Artur Karl, with ID 913, had a ticket of class 3.
	 Flegenheim, Mrs. Alfred (Antoinette), with ID 914, had a ticket of class 1.
	 Williams, Mr. Richard Norris II, with ID 915, had a ticket of class 1.
	 Ryerson, Mrs. Arthur Larned (Emily Maria Borie), with ID 916, had a ticket of class 1.
	 Robins, Mr. Alexander A, with ID 917, had a ticket of class 3.
	 Ostby, Miss. Helene Ragnhild, with ID 918, had a ticket of class 1.
	 Daher, Mr. Shedid, with ID 919, had a ticket of class 3.
	 Brady, Mr. John Bertram, with ID 920, had a ticket of class 1.
	 Samaan, Mr. Elias, with ID 921, had a ticket of class 3.
	 Louch, Mr. Charles Alexander, with ID 922, had a ticket of class 2.
	 Jefferys, Mr. Clifford Thomas, with ID 923, had a ticket of class 2.
	 Dean, Mrs. Bertram (Eva Georgetta Light), with ID 924, had a ticket of class 3.
	 Johnston, Mrs. Andrew G (Elizabeth Lily" Watson)", with ID 925, had a ticket of class 3.
	 Mock, Mr. Philipp Edmund, with ID 926, had a ticket of class 1.
	 Katavelas, Mr. Vassilios (Catavelas Vassilios")", with ID 927, had a ticket of class 3.
	 Roth, Miss. Sarah A, with ID 928, had a ticket of class 3.
	 Cacic, Miss. Manda, with ID 929, had a ticket of class 3.
	 Sap, Mr. Julius, with ID 930, had a ticket of class 3.
	 Hee, Mr. Ling, with ID 931, had a ticket of class 3.
	 Karun, Mr. Franz, with ID 932, had a ticket of class 3.
	 Franklin, Mr. Thomas Parham, with ID 933, had a ticket of class 1.
	 Goldsmith, Mr. Nathan, with ID 934, had a ticket of class 3.
	 Corbett, Mrs. Walter H (Irene Colvin), with ID 935, had a ticket of class 2.
	 Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons), with ID 936, had a ticket of class 1.
	 Peltomaki, Mr. Nikolai Johannes, with ID 937, had a ticket of class 3.
	 Chevre, Mr. Paul Romaine, with ID 938, had a ticket of class 1.
	 Shaughnessy, Mr. Patrick, with ID 939, had a ticket of class 3.
	 Bucknell, Mrs. William Robert (Emma Eliza Ward), with ID 940, had a ticket of class 1.
	 Coutts, Mrs. William (Winnie Minnie" Treanor)", with ID 941, had a ticket of class 3.
	 Smith, Mr. Lucien Philip, with ID 942, had a ticket of class 1.
	 Pulbaum, Mr. Franz, with ID 943, had a ticket of class 2.
	 Hocking, Miss. Ellen Nellie"", with ID 944, had a ticket of class 2.
	 Fortune, Miss. Ethel Flora, with ID 945, had a ticket of class 1.
	 Mangiavacchi, Mr. Serafino Emilio, with ID 946, had a ticket of class 2.
	 Rice, Master. Albert, with ID 947, had a ticket of class 3.
	 Cor, Mr. Bartol, with ID 948, had a ticket of class 3.
	 Abelseth, Mr. Olaus Jorgensen, with ID 949, had a ticket of class 3.
	 Davison, Mr. Thomas Henry, with ID 950, had a ticket of class 3.
	 Chaudanson, Miss. Victorine, with ID 951, had a ticket of class 1.
	 Dika, Mr. Mirko, with ID 952, had a ticket of class 3.
	 McCrae, Mr. Arthur Gordon, with ID 953, had a ticket of class 2.
	 Bjorklund, Mr. Ernst Herbert, with ID 954, had a ticket of class 3.
	 Bradley, Miss. Bridget Delia, with ID 955, had a ticket of class 3.
	 Ryerson, Master. John Borie, with ID 956, had a ticket of class 1.
	 Corey, Mrs. Percy C (Mary Phyllis Elizabeth Miller), with ID 957, had a ticket of class 2.
	 Burns, Miss. Mary Delia, with ID 958, had a ticket of class 3.
	 Moore, Mr. Clarence Bloomfield, with ID 959, had a ticket of class 1.
	 Tucker, Mr. Gilbert Milligan Jr, with ID 960, had a ticket of class 1.
	 Fortune, Mrs. Mark (Mary McDougald), with ID 961, had a ticket of class 1.
	 Mulvihill, Miss. Bertha E, with ID 962, had a ticket of class 3.
	 Minkoff, Mr. Lazar, with ID 963, had a ticket of class 3.
	 Nieminen, Miss. Manta Josefina, with ID 964, had a ticket of class 3.
	 Ovies y Rodriguez, Mr. Servando, with ID 965, had a ticket of class 1.
	 Geiger, Miss. Amalie, with ID 966, had a ticket of class 1.
	 Keeping, Mr. Edwin, with ID 967, had a ticket of class 1.
	 Miles, Mr. Frank, with ID 968, had a ticket of class 3.
	 Cornell, Mrs. Robert Clifford (Malvina Helen Lamson), with ID 969, had a ticket of class 1.
	 Aldworth, Mr. Charles Augustus, with ID 970, had a ticket of class 2.
	 Doyle, Miss. Elizabeth, with ID 971, had a ticket of class 3.
	 Boulos, Master. Akar, with ID 972, had a ticket of class 3.
	 Straus, Mr. Isidor, with ID 973, had a ticket of class 1.
	 Case, Mr. Howard Brown, with ID 974, had a ticket of class 1.
	 Demetri, Mr. Marinko, with ID 975, had a ticket of class 3.
	 Lamb, Mr. John Joseph, with ID 976, had a ticket of class 2.
	 Khalil, Mr. Betros, with ID 977, had a ticket of class 3.
	 Barry, Miss. Julia, with ID 978, had a ticket of class 3.
	 Badman, Miss. Emily Louisa, with ID 979, had a ticket of class 3.
	 O'Donoghue, Ms. Bridget, with ID 980, had a ticket of class 3.
	 Wells, Master. Ralph Lester, with ID 981, had a ticket of class 2.
	 Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judith Andersson), with ID 982, had a ticket of class 3.
	 Pedersen, Mr. Olaf, with ID 983, had a ticket of class 3.
	 Davidson, Mrs. Thornton (Orian Hays), with ID 984, had a ticket of class 1.
	 Guest, Mr. Robert, with ID 985, had a ticket of class 3.
	 Birnbaum, Mr. Jakob, with ID 986, had a ticket of class 1.
	 Tenglin, Mr. Gunnar Isidor, with ID 987, had a ticket of class 3.
	 Cavendish, Mrs. Tyrell William (Julia Florence Siegel), with ID 988, had a ticket of class 1.
	 Makinen, Mr. Kalle Edvard, with ID 989, had a ticket of class 3.
	 Braf, Miss. Elin Ester Maria, with ID 990, had a ticket of class 3.
	 Nancarrow, Mr. William Henry, with ID 991, had a ticket of class 3.
	 Stengel, Mrs. Charles Emil Henry (Annie May Morris), with ID 992, had a ticket of class 1.
	 Weisz, Mr. Leopold, with ID 993, had a ticket of class 2.
	 Foley, Mr. William, with ID 994, had a ticket of class 3.
	 Johansson Palmquist, Mr. Oskar Leander, with ID 995, had a ticket of class 3.
	 Thomas, Mrs. Alexander (Thamine Thelma")", with ID 996, had a ticket of class 3.
	 Holthen, Mr. Johan Martin, with ID 997, had a ticket of class 3.
	 Buckley, Mr. Daniel, with ID 998, had a ticket of class 3.
	 Ryan, Mr. Edward, with ID 999, had a ticket of class 3.
	 Willer, Mr. Aaron (Abi Weller")", with ID 1000, had a ticket of class 3.
	 Swane, Mr. George, with ID 1001, had a ticket of class 2.
	 Stanton, Mr. Samuel Ward, with ID 1002, had a ticket of class 2.
	 Shine, Miss. Ellen Natalia, with ID 1003, had a ticket of class 3.
	 Evans, Miss. Edith Corse, with ID 1004, had a ticket of class 1.
	 Buckley, Miss. Katherine, with ID 1005, had a ticket of class 3.
	 Straus, Mrs. Isidor (Rosalie Ida Blun), with ID 1006, had a ticket of class 1.
	 Chronopoulos, Mr. Demetrios, with ID 1007, had a ticket of class 3.
	 Thomas, Mr. John, with ID 1008, had a ticket of class 3.
	 Sandstrom, Miss. Beatrice Irene, with ID 1009, had a ticket of class 3.
	 Beattie, Mr. Thomson, with ID 1010, had a ticket of class 1.
	 Chapman, Mrs. John Henry (Sara Elizabeth Lawry), with ID 1011, had a ticket of class 2.
	 Watt, Miss. Bertha J, with ID 1012, had a ticket of class 2.
	 Kiernan, Mr. John, with ID 1013, had a ticket of class 3.
	 Schabert, Mrs. Paul (Emma Mock), with ID 1014, had a ticket of class 1.
	 Carver, Mr. Alfred John, with ID 1015, had a ticket of class 3.
	 Kennedy, Mr. John, with ID 1016, had a ticket of class 3.
	 Cribb, Miss. Laura Alice, with ID 1017, had a ticket of class 3.
	 Brobeck, Mr. Karl Rudolf, with ID 1018, had a ticket of class 3.
	 McCoy, Miss. Alicia, with ID 1019, had a ticket of class 3.
	 Bowenur, Mr. Solomon, with ID 1020, had a ticket of class 2.
	 Petersen, Mr. Marius, with ID 1021, had a ticket of class 3.
	 Spinner, Mr. Henry John, with ID 1022, had a ticket of class 3.
	 Gracie, Col. Archibald IV, with ID 1023, had a ticket of class 1.
	 Lefebre, Mrs. Frank (Frances), with ID 1024, had a ticket of class 3.
	 Thomas, Mr. Charles P, with ID 1025, had a ticket of class 3.
	 Dintcheff, Mr. Valtcho, with ID 1026, had a ticket of class 3.
	 Carlsson, Mr. Carl Robert, with ID 1027, had a ticket of class 3.
	 Zakarian, Mr. Mapriededer, with ID 1028, had a ticket of class 3.
	 Schmidt, Mr. August, with ID 1029, had a ticket of class 2.
	 Drapkin, Miss. Jennie, with ID 1030, had a ticket of class 3.
	 Goodwin, Mr. Charles Frederick, with ID 1031, had a ticket of class 3.
	 Goodwin, Miss. Jessie Allis, with ID 1032, had a ticket of class 3.
	 Daniels, Miss. Sarah, with ID 1033, had a ticket of class 1.
	 Ryerson, Mr. Arthur Larned, with ID 1034, had a ticket of class 1.
	 Beauchamp, Mr. Henry James, with ID 1035, had a ticket of class 2.
	 Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lingrey")", with ID 1036, had a ticket of class 1.
	 Vander Planke, Mr. Julius, with ID 1037, had a ticket of class 3.
	 Hilliard, Mr. Herbert Henry, with ID 1038, had a ticket of class 1.
	 Davies, Mr. Evan, with ID 1039, had a ticket of class 3.
	 Crafton, Mr. John Bertram, with ID 1040, had a ticket of class 1.
	 Lahtinen, Rev. William, with ID 1041, had a ticket of class 2.
	 Earnshaw, Mrs. Boulton (Olive Potter), with ID 1042, had a ticket of class 1.
	 Matinoff, Mr. Nicola, with ID 1043, had a ticket of class 3.
	 Storey, Mr. Thomas, with ID 1044, had a ticket of class 3.
	 Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist), with ID 1045, had a ticket of class 3.
	 Asplund, Master. Filip Oscar, with ID 1046, had a ticket of class 3.
	 Duquemin, Mr. Joseph, with ID 1047, had a ticket of class 3.
	 Bird, Miss. Ellen, with ID 1048, had a ticket of class 1.
	 Lundin, Miss. Olga Elida, with ID 1049, had a ticket of class 3.
	 Borebank, Mr. John James, with ID 1050, had a ticket of class 1.
	 Peacock, Mrs. Benjamin (Edith Nile), with ID 1051, had a ticket of class 3.
	 Smyth, Miss. Julia, with ID 1052, had a ticket of class 3.
	 Touma, Master. Georges Youssef, with ID 1053, had a ticket of class 3.
	 Wright, Miss. Marion, with ID 1054, had a ticket of class 2.
	 Pearce, Mr. Ernest, with ID 1055, had a ticket of class 3.
	 Peruschitz, Rev. Joseph Maria, with ID 1056, had a ticket of class 2.
	 Kink-Heilmann, Mrs. Anton (Luise Heilmann), with ID 1057, had a ticket of class 3.
	 Brandeis, Mr. Emil, with ID 1058, had a ticket of class 1.
	 Ford, Mr. Edward Watson, with ID 1059, had a ticket of class 3.
	 Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick), with ID 1060, had a ticket of class 1.
	 Hellstrom, Miss. Hilda Maria, with ID 1061, had a ticket of class 3.
	 Lithman, Mr. Simon, with ID 1062, had a ticket of class 3.
	 Zakarian, Mr. Ortin, with ID 1063, had a ticket of class 3.
	 Dyker, Mr. Adolf Fredrik, with ID 1064, had a ticket of class 3.
	 Torfa, Mr. Assad, with ID 1065, had a ticket of class 3.
	 Asplund, Mr. Carl Oscar Vilhelm Gustafsson, with ID 1066, had a ticket of class 3.
	 Brown, Miss. Edith Eileen, with ID 1067, had a ticket of class 2.
	 Sincock, Miss. Maude, with ID 1068, had a ticket of class 2.
	 Stengel, Mr. Charles Emil Henry, with ID 1069, had a ticket of class 1.
	 Becker, Mrs. Allen Oliver (Nellie E Baumgardner), with ID 1070, had a ticket of class 2.
	 Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll), with ID 1071, had a ticket of class 1.
	 McCrie, Mr. James Matthew, with ID 1072, had a ticket of class 2.
	 Compton, Mr. Alexander Taylor Jr, with ID 1073, had a ticket of class 1.
	 Marvin, Mrs. Daniel Warner (Mary Graham Carmichael Farquarson), with ID 1074, had a ticket of class 1.
	 Lane, Mr. Patrick, with ID 1075, had a ticket of class 3.
	 Douglas, Mrs. Frederick Charles (Mary Helene Baxter), with ID 1076, had a ticket of class 1.
	 Maybery, Mr. Frank Hubert, with ID 1077, had a ticket of class 2.
	 Phillips, Miss. Alice Frances Louisa, with ID 1078, had a ticket of class 2.
	 Davies, Mr. Joseph, with ID 1079, had a ticket of class 3.
	 Sage, Miss. Ada, with ID 1080, had a ticket of class 3.
	 Veal, Mr. James, with ID 1081, had a ticket of class 2.
	 Angle, Mr. William A, with ID 1082, had a ticket of class 2.
	 Salomon, Mr. Abraham L, with ID 1083, had a ticket of class 1.
	 van Billiard, Master. Walter John, with ID 1084, had a ticket of class 3.
	 Lingane, Mr. John, with ID 1085, had a ticket of class 2.
	 Drew, Master. Marshall Brines, with ID 1086, had a ticket of class 2.
	 Karlsson, Mr. Julius Konrad Eugen, with ID 1087, had a ticket of class 3.
	 Spedden, Master. Robert Douglas, with ID 1088, had a ticket of class 1.
	 Nilsson, Miss. Berta Olivia, with ID 1089, had a ticket of class 3.
	 Baimbrigge, Mr. Charles Robert, with ID 1090, had a ticket of class 2.
	 Rasmussen, Mrs. (Lena Jacobsen Solvang), with ID 1091, had a ticket of class 3.
	 Murphy, Miss. Nora, with ID 1092, had a ticket of class 3.
	 Danbom, Master. Gilbert Sigvard Emanuel, with ID 1093, had a ticket of class 3.
	 Astor, Col. John Jacob, with ID 1094, had a ticket of class 1.
	 Quick, Miss. Winifred Vera, with ID 1095, had a ticket of class 2.
	 Andrew, Mr. Frank Thomas, with ID 1096, had a ticket of class 2.
	 Omont, Mr. Alfred Fernand, with ID 1097, had a ticket of class 1.
	 McGowan, Miss. Katherine, with ID 1098, had a ticket of class 3.
	 Collett, Mr. Sidney C Stuart, with ID 1099, had a ticket of class 2.
	 Rosenbaum, Miss. Edith Louise, with ID 1100, had a ticket of class 1.
	 Delalic, Mr. Redjo, with ID 1101, had a ticket of class 3.
	 Andersen, Mr. Albert Karvin, with ID 1102, had a ticket of class 3.
	 Finoli, Mr. Luigi, with ID 1103, had a ticket of class 3.
	 Deacon, Mr. Percy William, with ID 1104, had a ticket of class 2.
	 Howard, Mrs. Benjamin (Ellen Truelove Arman), with ID 1105, had a ticket of class 2.
	 Andersson, Miss. Ida Augusta Margareta, with ID 1106, had a ticket of class 3.
	 Head, Mr. Christopher, with ID 1107, had a ticket of class 1.
	 Mahon, Miss. Bridget Delia, with ID 1108, had a ticket of class 3.
	 Wick, Mr. George Dennick, with ID 1109, had a ticket of class 1.
	 Widener, Mrs. George Dunton (Eleanor Elkins), with ID 1110, had a ticket of class 1.
	 Thomson, Mr. Alexander Morrison, with ID 1111, had a ticket of class 3.
	 Duran y More, Miss. Florentina, with ID 1112, had a ticket of class 2.
	 Reynolds, Mr. Harold J, with ID 1113, had a ticket of class 3.
	 Cook, Mrs. (Selena Rogers), with ID 1114, had a ticket of class 2.
	 Karlsson, Mr. Einar Gervasius, with ID 1115, had a ticket of class 3.
	 Candee, Mrs. Edward (Helen Churchill Hungerford), with ID 1116, had a ticket of class 1.
	 Moubarek, Mrs. George (Omine Amenia" Alexander)", with ID 1117, had a ticket of class 3.
	 Asplund, Mr. Johan Charles, with ID 1118, had a ticket of class 3.
	 McNeill, Miss. Bridget, with ID 1119, had a ticket of class 3.
	 Everett, Mr. Thomas James, with ID 1120, had a ticket of class 3.
	 Hocking, Mr. Samuel James Metcalfe, with ID 1121, had a ticket of class 2.
	 Sweet, Mr. George Frederick, with ID 1122, had a ticket of class 2.
	 Willard, Miss. Constance, with ID 1123, had a ticket of class 1.
	 Wiklund, Mr. Karl Johan, with ID 1124, had a ticket of class 3.
	 Linehan, Mr. Michael, with ID 1125, had a ticket of class 3.
	 Cumings, Mr. John Bradley, with ID 1126, had a ticket of class 1.
	 Vendel, Mr. Olof Edvin, with ID 1127, had a ticket of class 3.
	 Warren, Mr. Frank Manley, with ID 1128, had a ticket of class 1.
	 Baccos, Mr. Raffull, with ID 1129, had a ticket of class 3.
	 Hiltunen, Miss. Marta, with ID 1130, had a ticket of class 2.
	 Douglas, Mrs. Walter Donald (Mahala Dutton), with ID 1131, had a ticket of class 1.
	 Lindstrom, Mrs. Carl Johan (Sigrid Posse), with ID 1132, had a ticket of class 1.
	 Christy, Mrs. (Alice Frances), with ID 1133, had a ticket of class 2.
	 Spedden, Mr. Frederic Oakley, with ID 1134, had a ticket of class 1.
	 Hyman, Mr. Abraham, with ID 1135, had a ticket of class 3.
	 Johnston, Master. William Arthur Willie"", with ID 1136, had a ticket of class 3.
	 Kenyon, Mr. Frederick R, with ID 1137, had a ticket of class 1.
	 Karnes, Mrs. J Frank (Claire Bennett), with ID 1138, had a ticket of class 2.
	 Drew, Mr. James Vivian, with ID 1139, had a ticket of class 2.
	 Hold, Mrs. Stephen (Annie Margaret Hill), with ID 1140, had a ticket of class 2.
	 Khalil, Mrs. Betros (Zahie Maria" Elias)", with ID 1141, had a ticket of class 3.
	 West, Miss. Barbara J, with ID 1142, had a ticket of class 2.
	 Abrahamsson, Mr. Abraham August Johannes, with ID 1143, had a ticket of class 3.
	 Clark, Mr. Walter Miller, with ID 1144, had a ticket of class 1.
	 Salander, Mr. Karl Johan, with ID 1145, had a ticket of class 3.
	 Wenzel, Mr. Linhart, with ID 1146, had a ticket of class 3.
	 MacKay, Mr. George William, with ID 1147, had a ticket of class 3.
	 Mahon, Mr. John, with ID 1148, had a ticket of class 3.
	 Niklasson, Mr. Samuel, with ID 1149, had a ticket of class 3.
	 Bentham, Miss. Lilian W, with ID 1150, had a ticket of class 2.
	 Midtsjo, Mr. Karl Albert, with ID 1151, had a ticket of class 3.
	 de Messemaeker, Mr. Guillaume Joseph, with ID 1152, had a ticket of class 3.
	 Nilsson, Mr. August Ferdinand, with ID 1153, had a ticket of class 3.
	 Wells, Mrs. Arthur Henry (Addie" Dart Trevaskis)", with ID 1154, had a ticket of class 2.
	 Klasen, Miss. Gertrud Emilia, with ID 1155, had a ticket of class 3.
	 Portaluppi, Mr. Emilio Ilario Giuseppe, with ID 1156, had a ticket of class 2.
	 Lyntakoff, Mr. Stanko, with ID 1157, had a ticket of class 3.
	 Chisholm, Mr. Roderick Robert Crispin, with ID 1158, had a ticket of class 1.
	 Warren, Mr. Charles William, with ID 1159, had a ticket of class 3.
	 Howard, Miss. May Elizabeth, with ID 1160, had a ticket of class 3.
	 Pokrnic, Mr. Mate, with ID 1161, had a ticket of class 3.
	 McCaffry, Mr. Thomas Francis, with ID 1162, had a ticket of class 1.
	 Fox, Mr. Patrick, with ID 1163, had a ticket of class 3.
	 Clark, Mrs. Walter Miller (Virginia McDowell), with ID 1164, had a ticket of class 1.
	 Lennon, Miss. Mary, with ID 1165, had a ticket of class 3.
	 Saade, Mr. Jean Nassr, with ID 1166, had a ticket of class 3.
	 Bryhl, Miss. Dagmar Jenny Ingeborg , with ID 1167, had a ticket of class 2.
	 Parker, Mr. Clifford Richard, with ID 1168, had a ticket of class 2.
	 Faunthorpe, Mr. Harry, with ID 1169, had a ticket of class 2.
	 Ware, Mr. John James, with ID 1170, had a ticket of class 2.
	 Oxenham, Mr. Percy Thomas, with ID 1171, had a ticket of class 2.
	 Oreskovic, Miss. Jelka, with ID 1172, had a ticket of class 3.
	 Peacock, Master. Alfred Edward, with ID 1173, had a ticket of class 3.
	 Fleming, Miss. Honora, with ID 1174, had a ticket of class 3.

In [42]:
# Writing to a csv
# Opening the file in write mode; test_df2.csv is the file we are creating
with open('test_df2.csv', mode='w') as csv_file: 
    fieldnames = ['Position', 'Prediction', 'Result']
    writer = csv.DictWriter(csv_file, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({'Position': 0.2, 'Prediction': 1, 'Result': 'Yes'})
    writer.writerow({'Position': 0.5, 'Prediction': 0, 'Result': 'Yes'})
    writer.writerow({'Position': 2.7, 'Prediction': 1, 'Result': 'No'})
    writer.writerow({'Position': 1.4, 'Prediction': 1, 'Result': 'Yes'})

## Optional: Quick recap - Object Oriented Programming in Python

Understanding the BlockTower class and methods.

Reference: https://realpython.com/python3-object-oriented-programming/

In [43]:
# A class is a kind of a personalized data structure that you define
class Dog:

    # You'll need to specify name and age to create an object of class Dog
    def __init__(self, name, age): 
        self.name = name
        self.age = age
        
    def description(self):
        return "{} is {} years old".format(self.name, self.age)

    # You'll need to specify a sound when trying to run this method
    def speak(self, sound):
        return "{} says {}".format(self.name, sound)

In [44]:
dog_a = Dog("Whiskey", 3)

In [45]:
dog_a

In [46]:
dog_a.age

3

In [47]:
dog_a.name

'Whiskey'

In [48]:
dog_a.description()

'Whiskey is 3 years old'

In [49]:
dog_a.speak("Woof")

'Whiskey says Woof'